cloudpickle
future
-e git+https://github.com/MarcBS/keras.git#egg=keras
-e git+https://github.com/lvapeab/coco-caption.git#egg=coco-caption
keras_applications
keras_preprocessing
h5py
matplotlib
multimodal-keras-wrapper
numpy
scikit-image
scikit-learn
six
tables
numpy
pandas
sacremoses
scipy
tensorflow<2
